<nav class="navbar navbar-expand-sm bg-warning navbar-light">
  <div class="container">
    <a routerLink="/" class="navbar-brand">PeepoEats</a>

    <button
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item text-right">
          <a routerLink="/" class="nav-link">Rank</a>
        </li>
        <li class="nav-item text-right">
          <a routerLink="/leaderboard" class="nav-link">Leaderboard</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
