body {
  background-color: #031927;
  color: white;
}

@media (min-width: 576px) {
  img {
    filter: brightness(70%);
    transition: filter 0.3s ease;
    cursor: pointer;
  }
  img:hover {
    filter: brightness(100%);
    outline: 2px solid red;
  }
}
